$colorPrincipal: #0e34a0;
$colorSecundario: #affc41;
$colorSecundarioTransp: rgba(174, 252,65,0.8);
$colorAtras: #7b7263;
$colorAtras2: #8d91c7;
$colorTexto:#040404;
$colorPie: #ffffff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Inicio estilo scroll */

::-webkit-scrollbar{
    background-color: $colorAtras;
}

::-webkit-scrollbar-thumb{
    background-color: $colorSecundarioTransp;
    border-radius: 10px;
    box-shadow: inset 0 0 5px $colorTexto;
}

/* Fin estilo scroll */

/* Inicio head */

.retamal{
    color: $colorSecundario;
}

/* Fin head */

/* Inicio index */

.card{
    margin: 20px;
}

/* Fin index */

/* Inicio modificador de imagenes */

.imagen-m{
    padding: 5px;
    margin: 10px;
}

/* Fin modificador de imagenes */

/* inicio estilos formulario */

form{
    width: 100%;
    height: 100%;
    background-image: url(./Images/Contacto/soldador.jpg);
    background-position: center center;
    background-size: cover;
    padding: 30px;
    h2{ 
        text-align:center;
        font-size: 40px;
        text-transform: uppercase;
        color: $colorSecundario;
        li{
            list-style: none;
            input{
                width:100%;
                font-size: 25px;
                background-color: $colorSecundarioTransp;
                margin: 5px;
                border: none;
                border-bottom: 2px solid $colorPrincipal;
            }

            input::placeholder{
                color: $colorPrincipal;
            }
            textarea{
            width: 100%;
            font-size: 25px;
            background-color: $colorSecundarioTransp;
            margin: 5px;
            border: none;
            border-bottom: 2px solid $colorPrincipal;
            }
            textarea::placeholder{
            color: $colorPrincipal;
            }
        }
    }
}

#boton_form{
    background-color: $colorPrincipal;
    font-size: 25px;
    color: $colorSecundario;
    margin: 5px;
}

/* fin estilos formulario */

/* Inicio footer */

.footer{
    background-color: $colorAtras;
    color: $colorPie;
    text-align: center;
    padding: 20px;
}
.footer-iconos{
    margin-top: 10px;
    a{
    color: $colorPie;
    text-decoration: none;
    margin: 0 10px;
    }
}

/* Fin footer */